{% extends 'l_logs/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1>{{ topic.text }}</h1><br>
    <h5>{{ entry.text }}</h4>
    <br>
    <h4 class="alert alert-danger">It is not reversible.Are you sure you want to delete?</h4>

    
    <form method = "POST" class="form"> {% csrf_token %}
        
        {% buttons %}
        <a class="btn btn-primary" href="{% url 'topic' topic.id %}">Cancel</a>
        <button class="btn btn-danger" type="submit">Yes,delete</button>
        {% endbuttons %}
    </form>
    
{% endblock %}